<!--html5-->
<!doctype html>
<html lang="en" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C4-Racers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<img src="https://elice.io/images/elice_logo.svg" alt="elice 로고">
<h1 id="title" style="color: black;">index 페이지</h1>
<p> 안녕하세요 여러분, index 페이지 입니다.</p>
<hr>

<!--    컨텐츠 시작-->
<form action="/login" method="POST" name="sign_up">
    <div>
        <label for="email">아이디</label>
        <input id="email" type="email" placeholder="아이디를 입력해주세요."/>
    </div>

    <div>
        <label for="password">패스워드</label>
        <input id="password" type="password" placeholder="비밀번호를 입력해주세요."/>
    </div>
    <div>
        <label for="radio_button">라디오 버튼</label>
        <input id="radio_button" type="radio">
    </div>
    <div>
        <label for="checkbox_button">체크박스</label>
        <input id="checkbox_button" type="checkbox">
    </div>
    <div>
        <label for="input_button">인풋 버튼</label>
        <input id="input_button" type="button" value="버튼을 클릭하세요.">
    </div>

    <textarea
            name="contents"
            placeholder="내용을 입력해주세요."
            cols="30"
            rows="10p"
    ></textarea>

</form>

<br>
<br>

<table border="1">
    <!--        테이블 첫번째 행 (columns) -->
    <tr>
        <th>column 1</th>
        <th>column 2</th>
        <th>column 3</th>
    </tr>
    <!--            테이블 두번째 행 (row) -->
    <tr>
        <td>data 1</td>
        <td>data 2</td>
        <td>data 3</td>
    </tr>
</table>

<br>
<br>

<div><a href="http://gooogle.com" target="_blank">구글로 이동</a></div>
<div><a href="http://naver.com">네이버로 이동</a></div>

<br>
<br>

<img src="https://images.unsplash.com/photo-1719937051058-63705ed35502?q=80&w=2972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
     alt="photo_image"
     style="width: 300px;"
/>

<br>

<button id="button1" class="" name="">
    prev
</button>

<button id="button2">
    next
</button>

<br>
<hr>
<br>

<h2> h2 </h2>
<h3> h3 </h3>
<h4> h4 </h4>
<h5> h5 </h5>
<h6> h6 </h6>

<br>
<hr>
<br>

<h3>순서가 없는 리스트 태그</h3>
<p>클래스 추가 리스트</p>
<ul>
    <li class="list-item selected"> list 1</li>
    <li class="list-item"> list 2</li>
</ul>

<br>

<h3>순서가 있는 리스트 태그</h3>

<ol>
    <li> list 1</li>
    <li> list 2</li>
</ol>

<br>
<hr>
<br>

<h3>block 수준의 컨테이너 요소</h3>
<div>1</div>
<div>2</div>
<div>3</div>

<br>

<h3>inline 수준의 컨테이너 요소 </h3>
<span>1</span>
<span>2</span>
<span>3</span>
</body>
</html>
